<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--Import bootstrap css-->
  <link type="text/css" rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.css" />
  <!-- main.css-->
  <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title></title>
  </head>
  <body>
   <div class="last-view pd-30">
    <div id="back-to-form" class="div-icon white">
     <i class="fa fa-chevron-circle-left icon" aria-hidden="true"></i>
    </div>
    <div class="flex-align">
     <div class="container">
      <div class="row">
       <img class="col-xs-offset-2 col-xs-8"src="../assets/images/logo-white.png" alt="">
      </div>
      <div class="row">
       <img class="col-xs-offset-3 col-xs-6 mg-top-20"src="../assets/images/check.png" alt="">
      </div>
     </div>
    </div>
   </div>

<!--Important jQuery -->
  <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/last-view.js"></script>

  </body>
</html>
