<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Import bootstrap css-->
  <link type="text/css" rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.css" />
  <!-- main.css-->
  <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title></title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center">Sign Up</h1>
      <p class="text-center">Join now for free ride credit</p>
      <hr>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <div class="input-group">
            <div class="input-group-btn">
              <select  name="country" class="width-80 btn btn-default dropdown-toggle">
                <option class=" btn btn-default" value=""><a href="#">Col</a></option>
                <option class="btn btn-default" value=""><a href="#">Per</a></option>
                <option class="btn btn-default" value=""><a href="#">USA</a></option>
              </select>
            </div><!-- /btn-group -->
            <input type="tel" maxlength="12" class="form-control" aria-label="..." value=" ">
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->





      <p class="text-center margin-align">We'll send a text to verify your phone</p>

     <button type="button" class=" col-xs-12 btn btn-default" disabled>NEXT</button>






    </div>




<!--Import jQuery -->
  <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/app.js"></script>
  </body>
</html>
